<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>BMM Library</h1>
    <p> This list shows my small collection of physical books.</p>
    <ul>
      {% if not all_books%}
          <p>Library is empty.</p>
      {% else %}
        {% for book in all_books%}
          <li><a href="{{ url_for('delete', book_id=book.id) }}">Delete</a> {{book.title}} - {{book.author}} - {{book.rating}} <a href="{{ url_for('edit', book_id=book.id) }}">Edit Rating</a></li>
        {% endfor %}
      {% endif %}
    </br>
    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
