{%extends "base.html"%}
{%block title%} Home {%endblock%}
{% block content%}

<div class = "container mt-4">
    <h1>MochaMaps: Your Personal Guide to Coffee Shop Discovery</h1>
    <div class = "row">
        <div class = "col-md-12">
            <img class = "img-header" src="https://images.unsplash.com/photo-1545239351-ef35f43d514b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        </div>
        <div class = "col-md-6 mt-4">
            <p>
                Welcome to MochaMaps, where every sip comes with a story. Created by a band of coffee enthusiasts, MochaMaps is a tribute to coffee culture around the globe. Our mission is simple: to connect coffee lovers with the perfect café experience. As we journeyed from city to city, we found ourselves documenting every aspect of the coffee shops we visited – from the richness of the roast to the comfort of the seating. MochaMaps evolved from a personal quest to a shared resource for discovering unique coffee spots that cater not just to your taste buds but also to your need for a welcoming space to relax, work, or meet friends.
            </p>
        </div>
        <div class = "col-md-6 mt-4">
            <p>
                We believe that a great coffee shop is more than just a place to grab a caffeine fix; it's a hub of community, creativity, and connection. Each entry on MochaMaps is handpicked for its character, quality, and the little extras that make a café stand out from the crowd. Whether you're in search of the quiet corner with the best Wi-Fi, or the bustling spot with space for friends, MochaMaps is your compass to finding the perfect place to fuel your day and indulge your love for coffee. Join our community of café hunters, and let MochaMaps guide you to your next coffee adventure.
            </p>
        </div>
    </div>
    <div class = "row mt-5">
        <div class = "col-md-4 mt-4">
            <h4>
                📫 Get in contact
            </h4>
            <ul>
                <li>mocha_maps@gmail.com</li>
                <li>+44(0) 7899 866 210</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}