<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>It works!</h1>
    <form action="/login" method="post">
      <label for="fname">Name</label>
      <input type="text" name="username" placeholder="name" />
      <label for="lname">Password</label>
      <input type="text" name="password" placeholder="password" />
      <input type="submit" value="OK" />
    </form>
  </body>
</html>
