<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cafe&Wifi API</title>
  </head>
  <body>
    <h1>Welcome to the Cafe & Wifi API</h1>
    <p>
      Check out the project documentation following this
      <a
        href="https://web.postman.co/workspace/My-Workspace~429f31fc-4d20-4fbb-8cba-3b08cec65e07/folder/29594922-4bbee5c3-b16e-4926-9cc5-eb70e6bdc95a?active-environment=1bcf47b0-04a9-49ff-a921-b351013e01bf"
        >link</a
      >
    </p>
  </body>
</html>
